<div id="box1" class="baseBox" rel="firstCol firstRow" ng-repeat="activeTest in testCtrl.testCollectionData">
    <span class="header-bar">Job ID #{{activeTest.TestID}}
        <div class="show">
            <a onclick="shiftLeft(this, 'box1Down', 'box1a', 'box1b');" id="box1Left" href="#"
            class="glyphicon glyphicon-circle-arrow-right" title="Show Test Status" rel="tooltip"
            data-toggle="tooltip" data-placement="left"></a>
        </div>
    </span>
    <div class="insideContent">
        <p>
            Offline Mumbai</p>
            <span>540</span>
            <!-- <button ng-click="clickHandler()">Show</button> -->
        </div>
        <span class="footer-bar">
            <div class="show2">
                <a onclick="shiftDown(this, 'box1Left', 'box1a', 'box1b');" id="box1Down" href="#"
                class="glyphicon glyphicon-circle-arrow-down" title="Test dates & time" rel="tooltip"
                data-toggle="tooltip" data-placement="right"></a>
            </div>
            <a href="#" title="Make Inactive" rel="tooltip" data-toggle="tooltip" data-placement="left"
            class="glyphicon glyphicon-off make-inactive"></a><a href="#" title="Upload Test"
            rel="tooltip" data-toggle="tooltip" data-placement="left" class="glyphicon glyphicon-cloud-upload make-inactive">
        </a><a href="#" title="Download Test" rel="tooltip" data-toggle="tooltip" data-placement="left"
        class="glyphicon glyphicon-floppy-save make-inactive"></a></span>
    </div>