<div class="row advFiltering">
    <div class="col-lg-6 part-01">
        <div class="insideRow">
            <label for="lblID">
                ID:</label>
                <input name="txtSearchById" id="txtSearchById" type="text"  placeholder="Enter ID" class="lblID" ng-model="searchById">
                <label for="lblName">
                    Name:</label>
                    <input name="txtName" id="txtName" type="text" placeholder="Enter Name" class="lblName" ng-model="searchByName">
                    <label for="lblLogID">
                        Email ID:</label>
                        <input name="txtEmailID" id="txtEmailID" type="text" placeholder="Enter Email ID" class="lblLogID" ng-model="searchByEmailID">
                    </div>
                </div>
                <div class="col-lg-4 part-02">
                    <div class="insideRow2Wrap">
                        <div class="insideRow2">
                            <input name="" type="checkbox" value=""><span class=" label label-info">Attending</span>
                        </div>
                        <div class="insideRow2">
                            <input name="" type="checkbox" value=""><span class=" label label-danger">Not Attended</span>
                        </div>
                        <div class="insideRow2">
                            <input name="" type="checkbox" value=""><span class=" label label-warning">Password
                            Disabled</span>
                        </div>
                        <div class="insideRow2">
                            <input name="" type="checkbox" value=""><span class=" label label-default">Attended</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 part-03">
                    <div class="insideRow3">
                        <a href="#"><span class="glyphicon glyphicon-floppy-save" title="Download List" rel="tooltip"
                            data-toggle="tooltip" data-placement="left"></span></a><a href="#"><span class="glyphicon glyphicon-refresh"
                            title="Refresh List" rel="tooltip" data-toggle="tooltip" data-placement="left"></span>
                        </a>
                    </div>
                </div>
                <br clear="all">
            </div>